<form class="form-filters disabled" action="">
    <input type="text" name="search" class="search filter-input " placeholder="search by name">
    <select name="doctor" class="doctor filter-input">
        <option value="">All Doctors</option>
        <option value="dentist">Dentist</option>
        <option value="therapist">Therapist</option>
        <option value="cardiologist">Cardiologist</option>
    </select>
    <select name="priority-visit" class="priority-visit filter-input" >
        <option value="high">High</option>
        <option value="normal">Normal</option>
        <option value="low">Low</option>
    </select>
    <button class="filter-input search-button btn" type="button">Search</button>
</form>