
<section class="modal">
    <div class="modal-wrapper">
        <div class="modal-inputs">
            <div class="modal-necessary">
                <div class="doctor-name-div">
                    <select name="doctor" class="doctor-name" id="">
                        <option value="" disabled selected hidden>Choose doctor</option>
                        <option value="dentist">Dentist</option>
                        <option value="therapist">Therapist</option>
                        <option value="cardiologist">Cardiologist</option>
                    </select>
                </div>


               
                <div class="modal-goal modal-input-div">
                    <p>Goal of visit</p>
                    <input class="modal-goal modal-input goal-input" type="text" placeholder="Enter...">
                </div>
            <div class="modal-shortdescription modal-input-div">
                <p>Short description of visit(not necessary)</p>
                <input class="modal-shortdescription modal-input shortdesc-input" type="text" placeholder="Enter...">
            </div>
                <div class="modal-name modal-input-div">
                    <p>Name Surname</p>
                    <input class="modal-name modal-input name-input" type="text" placeholder="Enter...">
                </div>
                <div class="modal-urgency-div">
                    <select class="modal-urgency modal-input" name="urgency" id="urgency-dropdown">
                        <option value="" disabled selected hidden>Urgency</option>
                        <option value="Not that urgent">Small urgency</option>
                        <option value="Pretty urgent">Medium urgency</option>
                        <option value="Very urgent">Big urgency</option>
                    </select>
                </div>
               
            </div>

            <div class="modal-unnecessary">
                <div class="modal-cardiologist">
                    <div class="modal-pressure modal-input-div">
                        <p>Blood pressure</p>
                        <input class="modal-pressure modal-input pressure-input" type="text" placeholder="Enter...">
                    </div>
                    <div class="modal-index modal-input-div">
                        <p>Body mass index</p>
                        <input class="modal-index modal-input index-input" type="text" placeholder="Enter...">
                    </div>
                    <div class="modal-diseases modal-input-div">
                        <p>Transferred diseases of the cardiovascular system</p>
                        <input class="modal-diseases modal-input diseases-input" type="text"
                        placeholder="Enter...">
                    </div>
                    
                </div>
                <div class="modal-age modal-input-div">
                    <p>Age</p>
                    <input class="modal-age modal-input age-input" type="text" placeholder="Enter...">
                </div>
               

                <div class="modal-dentist">
                    <div class="modal-last-visit modal-input-div">
                        <p>Last visit</p>
                        <input class="modal-last-visit modal-input lastVisit-input" type="text" placeholder="Enter...">
                    </div>
                   
                </div>


            </div>
        </div>

        <div class="modal-btns">
            <button class="confirm-btn">Create visit</button>
            <button class="cancel-btn">Cancel</button>
            
        </div>


    </div>

</section>

