.loginForm{
    &-overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center; /* см. ниже */
        align-items: center;
        z-index: 99;
        /* Чтобы окно не прилипало к границе
        браузера установим отступы */
        padding:30px 0;
        background-color: rgba(0, 0, 0, 0.5)
    }
    &-form{
        background: #fff;
        width: 600px;
        height: 800px;
       margin: auto;
       display: flex;
       flex-direction: column;
    //    gap: 80px;
       justify-content: space-evenly;
       align-items: center;
       font-size: 36px;
       font-weight: 700;
       border: 3px solid #162d3d;
       position: relative;

       & label{
        display: flex;
        flex-direction: column;
        gap: 20px;
       }
       
    }
    &-input{
        border: 2px solid #162d3d;
        min-width: 450px;
        min-height: 50px;
        padding: 10px;
        font-size: 30px;
        &:hover{
            transition: 0.1s;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
        }
       }
}
