// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "formLogin";

body{
    background-color: rgb(203, 231, 234);
    position: relative;
}
.container{
    max-width: 1470px;
    margin: auto;
}
.login-button-style{
    padding: 15px 100px;
    background-color: rgb(100, 200, 211);
    border-radius: 15px;
    border: none;
    font-size: 40px;
    font-weight: 600;
    color: #162d3d;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    &_logo img{
        border-radius: 50%;
        height: 120px;
        width: 120px;
    }
    &_logout-button{
        margin-right: 20px;
        background: #c05050;
    }
}

.form-filters{
    padding: 30px 40px;
    display: flex;
    justify-content: space-around;
   gap: 30px;
   
}
.filter-input{
    box-sizing: border-box;
    border: 2px solid #162d3d;
    border-radius: 6px;
    padding: 0 10px;
    height: 60px;
    font-size: 30px;
    flex-grow: 1;
    & option{
        font-size: 18px;
    }
}

.empty-list{
    font-size: 36px;
    display: flex;
   justify-content: center;
   margin-top: 30px;
}
.disabled{
    display: none !important;
}
.incorectLogin{
    font-size: 30px;
    color: red;
    font-weight: 600;
    transition: 0.5s;
}


// Modal css

.modal{
    background-color: rgb(180, 228, 234);
    height: 700px;
    width: 450px;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.modal-wrapper{
    align-items: center;
}

.modal-btns{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.confirm-btn{
    height: 70px;
    width: 185px;
    background-color:rgb(68, 196, 213) ;
    border: none;
    color: white;
}

.cancel-btn{
    height: 70px;
    width: 185px;
    background-color:rgb(223, 68, 68) ;
    border: none;
    color: white;
}

.modal-inputs{
    padding: 50px 20px 50px  20px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.modal-necessary{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.doctor-name{
    width: 180px;
    height: 40px;
}

.modal-unnecessary{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-cardiologist{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-input{
    height: 40px;
    width: 180px;
}

.modal-input-div{
    height: 70px;
    display: flex;
    flex-direction: column;
}

.doctor-name{
    height: 45px;
}

.modal-urgency{
    height: 45px;
}

.modal-urgency-div{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctor-name-div{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Card 
.card-list {
    margin: 0 50px;
    display: grid;
    column-gap: 105px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    row-gap: 40px;
}
.card{
    background-color: rgb(130, 171, 221);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.full-card-info{
    display: none;
    flex-direction: column;
    align-items: center;
}

.short-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-more{
    background-color: rgb(142, 199, 199);
    border-radius: 25px;
}

.add-card{
    background-color: rgb(187, 225, 255);
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.add-card-btn{
    display: flex;
    justify-content: center;

    margin-top: 200px;
}

.delete-btn{
    position: relative;
    top: 0;
    right: 0;
}

.confirm-edit-btn{
    height: 70px;
    width: 185px;
    background-color:rgb(68, 196, 213) ;
    border: none;
    color: white;
}

.card-btns{
    display: flex;
    gap: 20px;
}